@import './mixins.module.scss';

// define as cores do tema
$clr-background: white;
$clr-text-primary: black;
$clr-text-secondary: #A5A5A5;
$clr-bkg-light: #F1F1F1;
$clr-bkg-medium: #C4C4C4;
$clr-accent-primary: #88D500;
$clr-accent-secondary: #DEF0BE;

// define os paddings do tema
$pad-large: 60px;
$pad-default: 30px;
$pad-small: 10px;

// define as margens do tema
$mar-large: 60px;
$mar-default: 30px;
$mar-small: 10px;

// propriedades da barra de navegação
$nav-height-default: 72px;
$nav-height-small: 60px;
$nav-title-width-regular: 96px;
$nav-title-width-small: 64px;
$nav-links-width-regular: 400px;
$nav-links-button-width: 60px;
$nav-search-bar-height-default: 32px;
$nav-search-bar-height-small: 28px;
$nav-search-button-width-default: 120px;
$nav-search-button-width-small: 72px;

// propriedades da barra de rodapé
$footer-min-height: 32px;

$filter-panel-width: 300px;

$font-default: 'Anonymous Pro', monospace;

.mainContent {
    background-color: $clr-background;
    min-height: 100vh;
}

.nestedContent {
    position: absolute;
    padding-top: $pad-default;
    top: $nav-height-default;
    min-height: calc(100% - $nav-height-default);
    width: 100%;
    display: block;
    padding-bottom: 150px;

    @include respond(small) {
        top: $nav-height-small;
        min-height: calc(100% - $nav-height-small);
    }
}

// nav bar
.navContainer {
    position: top;
    width: 100%;
    height: $nav-height-default;
    background-color: $clr-background;
    border-bottom: 1px $clr-bkg-medium solid;
    z-index: 99;
    display: block;

    @include respond(small) {
        height: $nav-height-small;
    }
}

.navTitleContainer {
    float: left;
    height: 100%;
    width: $nav-title-width-regular;
    margin-left: $mar-default;

    @include respond(small) {
        width: $nav-title-width-small;
        margin-left: $mar-small;
    }
}

.navTitle {
    font-family: $font-default;
    font-size: 32pt;
    font-weight: bolder;
    color: $clr-text-primary;
    text-decoration: none;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    @include respond(small) {
        font-size: 24pt;
    }
}

.navLi {
    display: none;

    @include respond(large) {
        display: flex;
        float: right;
        height: $nav-height-default;
        width: $nav-links-width-regular;
        padding-right: 0px;
    }
}

.navLinkText {
    font-family: $font-default;
    font-size: 18pt;
    text-align: right;
    color: $clr-text-primary;
    text-decoration: none;
    padding-left: $pad-default;
    position: relative;
    display: inline-block;
    top: 35%;
}

.navLinkText:hover {
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

.navMenuButtonContainer {
    display: none;

    @include respond(medium) {
        display: flex;
        float: right;
        width: $nav-links-button-width;
        height: $nav-height-default;
        justify-content: center;
        align-items: center;
        margin-right: $mar-default;
    }

    @include respond(small) {
        height: $nav-height-small;
        margin-right: $mar-small;
    }
}

.navMenuButton {
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    justify-content: space-between;
    width: 80%;
    height: 50%;
    margin: 10% 0;
}

.navMenuButton:hover {
    cursor: pointer;
}

.navMenuButtonLine {
    background-color: $clr-text-primary;
    position: relative;
    width: 100%;
    height: 5px;

    @include respond(small) {
        height: 4px;
    }
}

.navMenuContainer {
    display: none;

    @include respond(medium) {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: $nav-height-default;
        right: 0px;
        margin-right: $mar-default;
        background-color: $clr-background;
        padding: $pad-small $pad-default;
    }

    @include respond(small) {
        top: $nav-height-small;
    }
}

.navMenuLink {
    font-family: $font-default;
    font-size: 22pt;
    text-align: right;
    color: $clr-text-primary;
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding-top: $pad-small;
    top: 35%;
}

.navMenuLink:hover {
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}

.navMenuBlocker {
    position: fixed;
    background-color: rgba(0, 0, 0, .025);
    backdrop-filter: blur(2px);
    width: 100%;
    height: 100%;
    top: $nav-height-default;
    left: 0px;
    margin: 0px;
    padding: 0px;

    @include respond(small) {
        top: $nav-height-small;
    }
}

// bottom bar
.bottomBarContainer {
    background-color: $clr-text-primary;
    display: block;
    position: absolute;
    width: 100%;
    min-height: $footer-min-height;
    bottom: 0px;
    padding: $pad-small;

    label {
        display: inline-block;
        font-family: $font-default;
        font-size: 12pt;
        color: $clr-background;
        padding-left: $pad-small;
    }
}
.bottomBarLink {
    display: inline-block;
    font-family: $font-default;
    font-size: 12pt;
    color: $clr-background;
    padding-left: $pad-small;
}

// search bar
.searchBarContainer {
    position: relative;
    height: 100%;
    top: 0px;
    display: inline-block;
    width: calc(100vw - ($nav-title-width-regular + $nav-links-button-width + $pad-default + $pad-default + $pad-default));

    @include respond(large) {
        width: calc(100vw - ($nav-title-width-regular + $nav-links-width-regular + $pad-default + $pad-default));
    }

    @include respond(small) {
        width: calc(100vw - ($nav-title-width-small + $nav-links-button-width + $pad-small + $pad-small + $pad-default));
    }
}

.searchBarInput {
    width: calc(100% - $nav-search-button-width-default);
    height: $nav-search-bar-height-default;
    font-size: 18pt;
    font-family: $font-default;
    border-radius: 21px 0px 0px 21px;
    border: none;
    background-color: $clr-bkg-light;
    position: absolute;
    padding-left: 20px;
    top: 50%;
    transform: translateY(-50%);

    @include respond(small) {
        width: calc(100% - $nav-search-button-width-small);
        height: $nav-search-bar-height-small;
        font-size: 12pt;
    }
}

.searchBarInput:focus {
    outline: none;
}

.searchBarButton {
    font-family: $font-default;
    font-size: 18pt;
    vertical-align: middle;
    background-color: $clr-text-primary;
    color: $clr-background;
    width: $nav-search-button-width-default;
    height: $nav-search-bar-height-default;
    border-radius: 0px 21px 21px 0px;
    border: none;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 16px;
    padding-top: 5px;

    @include respond(small) {
        font-size: 12pt;
        padding-left: 6px;
        padding-top: 6px;
        width: $nav-search-button-width-small;
        height: $nav-search-bar-height-small;
    }
}

.searchBarButton:hover {
    cursor: pointer;
}

// regular content
.title {
    font-size: 22pt;
    font-weight: bold;
    font-family: $font-default;
    color: $clr-text-primary;
    text-decoration: none;
    height: $pad-large;
}

.regular {
    font-size: 12pt;
    font-family: $font-default;
    color: $clr-text-primary;
    text-decoration: none;
}

.p {
    @extend .regular;
    font-size: 14pt;
    line-height: 1.2;
    padding-top: $pad-small;
    padding-bottom: $pad-small;
    margin-top: $mar-small;
    margin-bottom: $mar-small;
}

.pCollapsed {
    @extend .p;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.regularLink {
    font-size: 12pt;
    display: inline-block;
    font-family: $font-default;
    color: $clr-accent-primary;
    text-decoration: underline;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
}

.regularLink:hover {
    font-weight: bold;
}

.label {
    @extend .regular;
}

.button {
    display: block;
    font-family: $font-default;
    font-size: 14pt;
    margin-top: $mar-small;
    padding: $pad-small;
    padding-right: $pad-small;
    color: black;
    background-color: $clr-bkg-light;
    border: none;
    border-radius: 12px;
}

.button:hover {
    cursor: pointer;
    color: $clr-background;
    background-color: $clr-text-primary;
}



// result content
.resultContainer {
    margin-left: $filter-panel-width;
    display: block;
    background-color: $clr-background;
    margin-right: $mar-default;

    @include respond(medium) {
        margin-left: calc($mar-default + $mar-small);
    }
}

// sort bar
.sortBarContainer {
    height: $pad-large;
    width: 100%;
}

.sortToggleButton {
    display: inline-block;
    font-family: $font-default;
    font-size: 12pt;
    margin-right: $mar-small;
    padding: $pad-small;
    color: black;
    background-color: $clr-bkg-light;
    border: none;
    border-radius: 10px;

    @include respond(small) {
        font-size: 10pt;
        margin-right: calc($mar-small * .75);
        padding: calc($pad-small * .75);
    }
}

.sortToggleButton:hover {
    cursor: pointer;
}

.sortToggleButtonActive {
    @extend .sortToggleButton;
    color: $clr-background;
    background-color: $clr-text-primary;
}

.sortDownloadButton {
    @extend .sortToggleButton;
    float: right;
    margin: 0;
    right: 0px;
}

.sortDownloadButton:hover {
    color: $clr-background;
    background-color: $clr-text-primary;
}

// entry
.entryContainer {
    display: block;
    background-color: $clr-bkg-light;
    border-radius: 13px;
    padding: $pad-default;
}

.entryTitle {
    display: inline-block;
    font-size: 16pt;
    font-weight: bold;
    font-family: $font-default;
    color: $clr-text-primary;
    text-decoration: none;
    width: 80%;
}

.regularContainer {
    padding-left: $pad-small;
    margin-top: $mar-small;
}

.entryPropLabel {
    font-family: $font-default;
    font-size: 12pt;
    font-style: italic;
    font-weight: bold;
}

.entryTag {
    font-family: $font-default;
    color: $clr-text-primary;
    background-color: $clr-accent-secondary;
    display: inline-block;
    padding: 4px 10px;
    border-radius: 12px;
    margin-left: $mar-small;
    margin-bottom: calc($mar-small * .5);
}

.entryTag:hover {
    cursor: pointer;
    background-color: $clr-accent-primary;
}

.entryExpandButton {
    text-align: center;
    width: 50px;
    padding: $pad-small;
    font-family: $font-default;
    font-size: 14pt;
    font-weight: bold;
    background-color: $clr-text-primary;
    color: $clr-background;
    float: right;
    border-radius: 13px;
}

.entryExpandButton:hover {
    cursor: pointer;
}


// painel de filtros
.filterFixedPanelContainer {
    display: none;

    @include respond(large) {
        display: block;
        float: left;
        width: $filter-panel-width;
        padding-left: $pad-default;
    }
}

.filterPanelFloatParent {
    display: none;
    position: absolute;
    top: 0;

    @include respond(medium) {
        display: block;
        width: $pad-default;
        height: 100%;
    }
}

.filterPanelButton {
    position: absolute;
    background-color: $clr-text-primary;
    color: $clr-background;
    font-family: $font-default;
    font-size: 12pt;
    font-weight: bold;
    writing-mode: vertical-lr;
    text-align: center;
    display: block;
    width: $pad-default;
    padding: $pad-small;
    z-index: 9;
}

.filterPanelButton:hover {
    cursor: pointer;
}

.filterPanelFloatContainer {
    display: block;
    position: absolute;
    background-color: $clr-background;
    padding-top: $pad-default;
    padding-bottom: $pad-default;
    padding-left: $pad-large;
    padding-right: $pad-default;
    width: 300px;
}

.filterPanelFloatBlocker {
    position: fixed;
    background-color: rgba(0, 0, 0, .025);
    backdrop-filter: blur(2px);
    width: 100vw;
    height: 100%;
    left: 0;
}

.filterContainer {
    display: block;
    padding-bottom: $pad-small;
}

.filterInput {
    font-family: $font-default;
    font-size: 12pt;
    max-width: 240px;
    width: 100%;
    height: 28px;
    background: $clr-bkg-light;
    border: none;
    border-radius: 12px;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
}

// filtro de tipo
.typeFilterContainer {
    font-family: $font-default;
    font-size: 12pt;
    display: block;
    position: relative;
    padding-left: $pad-default;
    margin-top: $pad-small;
    padding-bottom: $pad-small;
    width: 100%;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.typeFilterContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.typeFilterCheckmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    border-radius: 4px;
    background-color: $clr-bkg-light;
}

.typeFilterContainer:hover input~.typeFilterCheckmark {
    background-color: $clr-bkg-medium;
}

.typeFilterCheckmark:after {
    content: "";
    position: absolute;
    display: none;
}

.typeFilterContainer input:checked~.typeFilterCheckmark:after {
    display: block;
}

.typeFilterContainer .typeFilterCheckmark:after {
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    border-radius: 4px;
    background-color: $clr-text-primary;
}

// estilos do markdown
.mdContainer {
    max-width: 1200px;
    margin: auto;
    padding: $pad-small;
}

.mdToggle {
    display: block;
    font-family: $font-default;
    font-size: 14pt;
    margin-bottom: $mar-small;
    padding: $pad-small;
    color: black;
    background-color: $clr-bkg-light;
    border: none;
    border-radius: 12px;
    width: fit-content;
}

.mdToggle:hover {
    cursor: pointer;
    color: $clr-background;
    background-color: $clr-text-primary;
}

.reactMarkdown {
    h1 {
        font-family: $font-default;
        font-size: 32pt;
        font-weight: bold;
        margin-top: $mar-small;
    }

    h2 {
        font-family: $font-default;
        font-size: 24pt;
        font-weight: bold;
        margin-top: $mar-default;
    }

    h3 {
        font-family: $font-default;
        font-size: 22pt;
        font-weight: bold;
        margin-top: auto;
        padding-top: $pad-default;
    }

    h4 {
        font-family: $font-default;
        font-size: 10pt;
        text-align: center;
        font-style: italic;
    }

    p {
        @extend .p;
        font-size: 14pt;
        line-height: 1.2;
        padding-top: 0px;
        padding-bottom: $pad-small;
    }

    li {
        @extend p;
    }

    a {
        text-decoration: underline;
        color: $clr-accent-primary;
    }
}